<div class="wrapper display-center-row">
    <div class="container display-center-column">
        <p class="title">{{information.title}}</p>
        <hr>
        <div class="showMsg" #scrollDown [scrollTop]="scrollDown.scrollHeight">
            <div *ngFor="let item of information.content" [ngClass]="{'me': item.user == activeUser.activeUser?.name, 'rest': item.user != activeUser.activeUser?.name}">
                <div class="name">{{item.user}}</div>
                <div class="text">{{item.textContent}}</div>
            </div>
        </div>

        <div class="content display-center-row ">
            <form #sendMsg="ngForm" class="display-center-row" (ngSubmit)="send();">
                <input type="text " placeholder="Schreiben… " class="input-send " name="write " ngModel #sendMsgValue>
                <button type="submit" class="button-send ">Icon</button>
            </form>
        </div>
    </div>
</div>