<div class="wrapper display-center-row">
    <div class="container display-center-column">
        <p class="title">Titel (Forum, Support)</p>
        <hr>
        <div class="showMsg">
            <div class="me">
                <div class="name">name</div>
                <div class="text">Test</div>
            </div>
            <div class="rest">
                <div class="name">name2</div>
                <div class="text">Test2</div>
            </div>
        </div>

        <div class="content display-center-row ">
            <form #sendMsg="ngForm" class="display-center-row" (ngSubmit)="send(sendMsg.value)">
                <input type="text " placeholder="Schreiben… " class="input-send " name="write " ngModel>
                <button type="submit " class="button-send ">Icon</button>
            </form>
        </div>
    </div>
</div>
