@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes popUp {
    from {
        width: 0;
        heihgt: 0;
    }
    to {
        height: 100%;
        width: 100%;
    }
}

@keyframes moveRight {
    from {
        right: -1500px;
    }
    to {
        right: 15px;
    }
}

@keyframes moveRightBack {
    from {
        rigth: 15px;
    }
    to {
        rigth: -1500px;
    }
}