//Colors
$prime: rgb(67, 102, 10);
$prime-dark: rgb(71, 71, 71);
$second: rgb(195, 245, 195);
$grey: rgb(40, 40, 40);
$red: #E16C6C;
$white: rgb(250, 250, 250);
$black: rgb(0, 0, 0);
//Padding & margin, Sizing
$cube: 1rem;